{% extends 'Common/view/layouts/index.twig' %}
{% block title %}Sources{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script>
        $(function(){
            dispatchUrl();
            $('#areasTable').DataTable();
            $('.area-edit-btn').click(function() {
                var id = $(this).data('id');
                var currentLocation = window.location;
                var url = currentLocation.origin + currentLocation.pathname + '/' + id;
                location.href = url;
            });
            $('#area-source-seleect').change(function() {
                var sourceId = $('#area-source-seleect').val();
                var params = $.getUrlVars();
                params.source_id = sourceId;
                window.location.replace(window.location.pathname+ '?' + $.param(params));
            });
            $('.area-remove-btn').click(function() {
                if(!confirm('Are you sure?!')) {
                    return false;
                }
                var id = $(this).data('id');
                $.ajax({
                    url: '/api/v1/working_area/delete/'+id,
                    method: "DELETE",
                    success: function(result) {
                        $('.modal-overlay').addClass('hidden');
                        console.log(result);
                        if(result.status == 'success') {
                            showSuccess(result.message);
                            location.reload();
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        checkXhr(jqXHR);
                        $('.modal-overlay').addClass('hidden');
                        showError(jqXHR.responseJSON.message);
                        console.log(jqXHR.responseJSON);
                    }
                });
            });
        });
        function dispatchUrl() {
            if($.getUrlhas("source_id")) {
                $('#area-source-seleect').val($.getUrlVar("source_id"));
            }
        }
    </script>
{% endblock %}

{% block body %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Working Areas</li>
    </ol>

    <!-- Area Chart Example-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-area-chart"></i>
            Working Areas
            <div class="input-group" style="display: inline-flex; width: 20%;">
                <span class="input-group-btn">
                    <button class="btn btn-secondary sources-add-area-btn" type="button"
                            data-toggle="modal"
                            data-target=".source-create-area-modal"
                    >Add</button>
                </span>
                <select class="custom-select" id="area-source-seleect">
                    <option selected value="all">All sources</option>
                    {% for key, source in sources %}
                        <option value="{{ source['id'] }}">{{ source['id'] }}: {{ source['name'] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="areasTable" width="100%" cellspacing="0"
                                   role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th>ID</th>
                                        <th>NAME</th>
                                        <th>SOURCE</th>
                                        <th>created</th>
                                        <th>updated</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>NAME</th>
                                        <th>SOURCE</th>
                                        <th>created</th>
                                        <th>updated</th>
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                {% for key, area in areas %}
                                    <tr>
                                        <td>{{ area['id'] }}</td>
                                        <td>{{ area['name'] }}</td>
                                        <td>{{ area['source_id'] }}</td>
                                        <td>{{ area['created'] }}</td>
                                        <td>{{ area['updated'] }}</td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <button type="button" class="btn btn-primary area-edit-btn" title="edit area"
                                                        data-id="{{ area['id'] }}"
                                                ><i class="fa fa-caret-square-o-right" aria-hidden="true"></i></button>
                                                <button type="button" class="btn btn-danger area-remove-btn" data-id="{{ area['id'] }}" title="remove area"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer small text-muted"></div>
    </div>

    {% include('WorkingAreas/view/Components/areModal.twig')  %}

{% endblock %}

