{% extends 'Common/view/layouts/index.twig' %}
{% block title %}Trigger Area{% endblock %}

{% block stylesheets %}
    <link href="/vendor/svgjs/css/svg.select.min.css" rel="stylesheet">
    <style>
        .drawing-container {
            position: relative;
        }
        .drawing-container #drawing {
            position: absolute;
            top:0;
            left: 0;
            z-index: 1000;
        }
        .drawing-container #video {
            z-index: 900;
        }
        #drawing svg {

        }
        .svg_select_points_point {

        }

    </style>
{% endblock %}

{% block javascripts %}
    <script src="/vendor/svgjs/js/svg.min.js"></script>
    <script src="/vendor/svgjs/js/svg.select.min.js"></script>
    <script src="/vendor/svgjs/js/svg.resize.min.js"></script>
    <script src="/vendor/svgjs/js/svg.draw.min.js"></script>
    <script src="/vendor/svgjs/js/svg.draggable.min.js"></script>
    <script src="/vendor/svgjs/js/svg.topath.js"></script>
    <script src="/vendor/svgjs/js/svg.topoly.js"></script>

    <script>
        $(function() {

        });
    </script>
{% endblock %}

{% block body %}
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('workingAreas') }}">Working Areas</a>
            </li>
            <li class="breadcrumb-item active">Trigger area</li>
            <li>

            </li>
        </ol>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table"></i>
                        Working area info:
                        <button type="button" class="btn btn-secondary area-edit-btn" title="edit working area"
                                data-id="{{ area['id'] }}"
                                data-name="{{ area['name'] }}"
                                data-sourceid="{{ source['id'] }}"
                                data-toggle="modal"
                                data-target=".source-create-area-modal"
                                style="padding: 0px 10px; margin-left: 5px;"
                        ><i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="card-block">
                        <input type="hidden" value="{{ area['id'] }}" id="working-area-id">
                        <table class="area-info-table">
                            <tr>
                                <td>ID:</td>
                                <td>{{ area['id'] }}</td>
                            </tr>
                            <tr>
                                <td>NAME:</td>
                                <td>{{ area['name'] }}</td>
                            </tr>
                            <tr>
                                <td>Source ID:</td>
                                <td>{{ area['source_id'] }}</td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td>{{ area['description'] }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table"></i>
                        Selected trigger area:
                        <button type="button" class="btn btn-secondary " id="save-trigger-are-btn" title="save trigger area"
                                style="padding: 0px 10px; margin-left: 5px;"
                        ><i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="card-block">
                        <table class="area-info-table">
                            <tr>
                                <td>ID:</td>
                                <td id="trigger-id"></td>
                            </tr>
                            <tr>
                                <td>NAME:</td>
                                <td id="trigger-name"></td>
                            </tr>
                            <tr>
                                <td>Algorithm:</td>
                                <td id="trigger-algorithm"></td>
                            </tr>
                            <tr>
                                <td>Method:</td>
                                <td id="trigger-method"></td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td id="trigger-description"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Area Chart Example-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-crop"></i>
                Trigger area tools
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-secondary add_polygon_button" id="polygon-btn" data-figure="polygon" title="draw polygon" disabled>Polygon</button>
                    <button type="button" class="btn btn-secondary add_polygon_button" id="ellipse-btn" data-figure="ellipse" title="draw ellipse" disabled>Ellipse</button>
                </div>
                <button type="button" class="btn btn-danger remove_polygon_button">Remove</button>
            </div>
            <div class="card-body">
                <div class="drawing-container">
                    <video autoplay id="video">
                        <source src="{{ source['src'] }}" type="video/mp4">
                    </video>
                    <div id="drawing"></div>
                </div>
            </div>
            <div class="card-footer small text-muted">footer</div>
        </div>

    {% include('WorkingAreas/view/Components/areModal.twig')  %}

{% endblock %}

