{% extends 'Common/view/layouts/index.twig' %}
{% block title %}Sources{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}

{% block body %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Sources</li>
    </ol>

    <!-- Area Chart Example-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-area-chart"></i>
            Sources
            <button id="add-src-btn" type="button" class="btn btn-primary"
                    data-toggle="modal"
                    data-target=".edit-src-modal" title="add source">Add</button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="sourcesTable" width="100%" cellspacing="0"
                                   role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                <tr role="row">
                                    <th>ID</th>
                                    <th>NAME</th>
                                    <th>SRC</th>
                                    <th>dimension</th>
                                    <th>created</th>
                                    <th>updated</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>NAME</th>
                                        <th>SRC</th>
                                        <th>dimension</th>
                                        <th>created</th>
                                        <th>updated</th>
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for key, source in sources %}
                                    <tr>
                                        <td>{{ source['id'] }}</td>
                                        <td>{{ source['name'] }}</td>
                                        <td>{{ source['src'] }}</td>
                                        <td>{{ source['width'] }}x{{ source['height'] }}</td>
                                        <td>{{ source['created'] }}</td>
                                        <td>{{ source['updated'] }}</td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <button type="button" class="btn btn-secondary sources-add-area-btn" title="create working area"
                                                        data-sourceid="{{ source['id'] }}"
                                                        data-toggle="modal"
                                                        data-target=".source-create-area-modal"
                                                ><i class="fa fa-plus" aria-hidden="true"></i></button>
                                                <button type="button" class="btn btn-primary sources-edit-btn" title="edit source"
                                                        data-id="{{ source['id'] }}"
                                                        data-toggle="modal"
                                                        data-target=".edit-src-modal"
                                                ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                                <button type="button" class="btn btn-danger sources-remove-btn" data-id="{{ source['id'] }}" title="remove source"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer small text-muted"></div>
    </div>

    <div class="modal fade edit-src-modal" tabindex="-1" role="dialog" aria-labelledby="editSrcModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-overlay hidden">
                    <img src="/img/common/loading.gif">
                </div>
                <div class="modal-header">
                    <div class="hidden" id="modal-edit-header">
                        <span>Edit Source</span>
                    </div>
                    <div class="hidden" id="modal-create-header">
                        <span>Add Source</span>
                    </div>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" id="source-id">
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="source-name">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="source-name" placeholder="Enter source name">
                            </div>
                            <small class="form-text"></small>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="source-name">Source</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="source-url" placeholder="Enter source url">
                            </div>
                            <small class="form-text"></small>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="source-name">Width</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="source-width" placeholder="Enter source width">
                            </div>
                            <small class="form-text"></small>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="source-name">Height</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="source-height" placeholder="Enter source height">
                            </div>
                            <small class="form-text"></small>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="source-name">Description</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="source-description" placeholder="Enter source description">
                            </div>
                            <small class="form-text"></small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="modal-source-save-btn">Save</button>
                </div>
            </div>
        </div>
    </div>

    {% include('WorkingAreas/view/Components/areModal.twig')  %}

{% endblock %}

