.hidden {
    display: none;
}
.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 100;
    opacity: 0.4;
}
.modal-overlay img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 20px;
    margin-left: -30px;
}

.admin-alert {
    min-height: 40px;
    font-size: 15px;
    position: fixed;
    right: 10px;
    top: 60px;
    z-index: 10000;
    text-align: center;
    padding: 15px;
    min-width: 200px;
}

.btn {
    cursor: pointer;
}