<div class="modal fade source-create-area-modal" tabindex="-1" role="dialog" aria-labelledby="editSrcModal">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-overlay hidden">
                <img src="/img/common/loading.gif">
            </div>
            <div class="modal-header">
                <span>Working Area</span>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="area-id">
                    <div class="form-group row">
                        <label class="col-sm-4 control-label" for="modal-discount-type">Source</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="area-source-id">
                                {% for key, source in sources %}
                                    <option value="{{ source['id'] }}">{{ source['id'] }}: {{ source['name'] }}</option>
                                {% endfor %}
                            </select>
                            <small class="form-text"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 control-label" for="area-name">Working Area Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="area-name" placeholder="Enter name">
                        </div>
                        <small class="form-text"></small>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 control-label" for="area-description">Description</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="area-description" placeholder="Enter description">
                        </div>
                        <small class="form-text"></small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="modal-source-create-area-btn">Save</button>
            </div>
        </div>
    </div>
</div>